name: eriks weather pipeline

on:
  push:
    branches:
      - DevOps-pipeline_grupp4_EU
  workflow_dispatch:

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
      - name: Gets the whole repo
        uses: actions/checkout@v4

      - name: Installs latest version of python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name:  Run unit tests
        run: |
          if pytest -q weather_app/pytests/test_city_coordinates.py; then
            echo "✅ Pytest OK"
          else
            echo "❌ Pytest failed"
            exit 1
          fi

      - name:  Run integration tests
        run: |
          if pytest -q weather_app/pytests/test_api_call.py; then
            echo "✅ Integration test OK"
          else
            echo "❌ Integration test failed"
          fi
           
            





        
    
